

<div id="app">
    <div class="main-wrapper">

      <%= render "dashboard/header" %>
      <%= render "dashboard/navbar" %>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>All Projects</h1>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Project</h4>
                  <div class="card-header-form">
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                          <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tr>
                        <th>Project Name</th>
                        <th>Start Date</th>
                        <th>Lead Phases</th>
                        <th>Assigned BD</th>
                        <th>Action</th>
                      </tr>
                      <% @projects.each do |project| %>
                      <tr>
                        <td><%= project.project_name %></td>
                        <td>
                          <%= project.created_at.strftime("%m-%d-%Y") %>
                        </td>
                        <td>
                          <%= project.lead.phases.size %> <br>
                        </td>
                        <td><%= project.lead.user.name %></td>
                        <td>
                          <%= link_to "Lead Details", lead_path(project.lead.id), class: "btn btn-primary" %>
                          <%= link_to "Delete", project_path(project.id), method: :delete, class: "btn btn-danger" %>
                        </td>
                      </tr>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <%= render "dashboard/footer" %>

    </div>
  </div>