

<div id="app">
    <div class="main-wrapper">

      <%= render "dashboard/header" %>
      <%= render "dashboard/navbar" %>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>Add New User</h1>
          </div>
          <div class="row">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
              <div class="card card-primary">
                <div class="card-header"><h4>Add New User</h4></div>

                <div class="card-body">
                  <%= form_with model: @user, url: "create_user" do |f| %>
                    <div class="row">
                      <div class="form-group col-12">
                        <label for="first_name">Name</label>
                        <%= f.text_field :name, class: "form-control", required: "true", autocomplete: "off", autofocus: "true"%>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="email">Email</label>
                      <%= f.text_field :email, class: "form-control", required: "true", type: "email", autocomplete: "off"%>
                      <div class="invalid-feedback">
                      </div>
                    </div>

                    <div class="row">
                      <div class="form-group col-6">
                        <label for="password" class="d-block">Password</label>
                        <%= f.text_field :password, class: "form-control", required: "true", type: "password"%>
                        <div id="pwindicator" class="pwindicator">
                          <div class="bar"></div>
                          <div class="label"></div>
                        </div>
                      </div>
                      <div class="form-group col-6">
                        <label for="password2" class="d-block">Password Confirmation</label>
                        <%= f.text_field :password_confirmation, class: "form-control", required: "true", type: "password"%>
                      </div>
                    </div>

                    <div class="form-divider">
                      Assign Role (Optional) <small class="text-small"> Can be assinged later as well </small>
                    </div>
                    <div class="row">
                      <div class="form-group col-12">
                        <label>Roles</label>
                        
                        <select class="form-control selectric">
                          <option selected="true">Select</option>
                          <option>Indonesia</option>
                          <option>Palestine</option>
                          <option>Syria</option>
                          <option>Malaysia</option>
                          <option>Thailand</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <%= f.submit class: "btn btn-primary btn-lg btn-block"%>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <%= render "dashboard/footer" %>

    </div>
</div>