

<div id="app">
    <div class="main-wrapper">

      <%= render "dashboard/header" %>
      <%= render "dashboard/navbar" %>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>All Engineers</h1>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Engineers</h4>
                  <div class="card-header-form">
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                          <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tr>
                        <th>
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                            <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                          </div>
                        </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Added on</th>
                        <th>Member Since</th>
                        <th>Action</th>
                      </tr>
                      <% @engineers.each do |engineer| %>
                      <tr>
                        <td class="p-0 text-center">
                          <div class="custom-checkbox custom-control">
                            <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
                            <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                          </div>
                        </td>
                        <td><%= engineer.user.name %></td>
                        <td class="align-middle">
                          <%= engineer.user.email %>
                        </td>
                        <td>
                          <%= engineer.created_at %>
                        </td>
                        <td>
                          <%= engineer.user.created_at %>
                        </td>
                        <td>
                          <%= link_to "Remove From Phase", phase_assignment_path(engineer), method: :delete, class: "btn btn-danger" %>
                        </td>
                      </tr>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <%= render "dashboard/footer" %>

    </div>
  </div>